@charset "EUC-KR";

* {box-sizing: border-box;}

html{
   height:100%;
   width:100%;
   margin: 0; 
   padding: 0;
   
} 
body {
	/*background-image:url("../img/mainBg3.png");
	background-repeat:no-repeat;
	background-size:800px 800px;
	background:linear-gradient(#FFF0F5,#E7E6DC,#795C34);*/
	height:100vh;
	background-size:cover;
	margin:0;
	padding:0;
	height:100%;
	font-family: Verdana, sans-serif;
   	float:left;
	background-position:center bottom; 
   	position:relative;
    /* url("../img/mainBg3.png") no-repeat 50% 80%,
   	 -webkit-gradient(linear, center top, center bottom, from(#E7E6DC), to(#E7E6DC));
*/
}
.leftSide{
	top:0px;
	width:190px;
	height:100vh;
	background-image:url("../img/mainBg3.png");
	
	position:absolute;
}
.rightSide{
	top:0px;
	width:192px;
	height:100vh;
	left:1728px;
	background-image:url("../img/mainBg3.png");
	position:absolute;
}
.all{
		
	
   	display: flex;
   	height:auto;
   	width:auto;
}
.mySlides {display: none;}
.Container  {
   position:relative;
   max-width: 100%;
   margin: auto;
   flex-direction:row;
   width:80%;
   height: 350px;
   left: 3%;
   top: 55%;
   padding: 0;
   justify-content: center;
   border-width : 30px;
}
.logForm{
   width:50%;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.All{
   margin-top: 7%;
}
.cus {
   align-items: center;
   padding: 0px;
}
.conAll{
   	margin-left:27%; 
}
.con {
   float:left;
   padding:0;
}
.join {
   float:left;
   padding:0;
   width:50%;
   font-size:22px;
   font-family:"IBM Plex Sans KR",sans-serif;
   margin-left:8%;
}
.ow {
   float: left;
   margin-left:5px;
}
.owIn{
   float: left;
   padding:0;
   
}
.food{
   width:350px;
   height:300px;
}
#logo {
   margin-top:3%;
   margin-left:20%;
}
.input1{
   width: 170px;
   height: 70px;
   border-radius:50px;
   background-color: #FEEBB6;
   border: 0;
   outline: 0;
   font-size:20px;
   font-family:"IBM Plex Sans KR",sans-serif;
}
.input2{
   width:115px;
   height:50px;
   border-radius:50px;
   background-color: #FEEBB6;
   border: 0;
   outline: 0;
   font-size:18px;
   font-family:"IBM Plex Sans KR",sans-serif;
   margin-left:2%;
}
.input1:hover{
	background-color:#E8D581;
}
.input2:hover{
	background-color:#E8D581;
}
.logoImg{
   width:450px;
   height:420px;
}
.img1{
	width:130px;
   	height:130px;
   	transform:translate(2%,-20%);
}
.img2{
	width:100px;
   	height:100px;
   	transform:translate(2%,-17%);
}